.component-button {
  width: 264px;
  height: 88px;

  background: #f2994a;
  border-radius: 66px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;

  font-family: AvenirRegular;
  font-weight: 750;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.5px;
}
