.layout-sale {
  display: block;

  width: 254px;

  font-family: AvenirRegular;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  color: #333333;

  padding: 0 0 8px 0;
  margin: 0 auto;

  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
